.App {
    /* background-color: yellow; */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: black;
    width: 960px;
    height: 500px;
    border-radius: 15px;
    /* key to making card */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.bg-video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    /* below makes it fit into entire screen */
    object-fit: cover;
}

.image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.nft-video {
    width: 400px;
    height: 400px;
}

.information {
    color: white;
    /* background-color: yellow; */
    width: 50%;
}

.button {
    /* border-radius: 30px;
    color: black;
    font-weight: bold;
    padding: 10px 50px;
    background: #E9EDE6; */
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.3s;
    background-size: 200% auto;
    color: black;
    font-weight: bold;            
    box-shadow: 0 0 5px #eee;
    border-radius: 30px;
    display: block;
    border: none;
    cursor: pointer;
}

/* effect shows better on white background */
.button:hover {
    background-position: right center; /* change the direction of the change here */
    color: grey;
    text-decoration: none;
  }


.footer {
    height: 50px;
    background-color: #1E0E40;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}






